@import '../../variables';

.Home {

    margin: 0 auto;
    max-width: 600px;
    padding: 0 0 96px;

    &__EmptyMessage {

        color: darken($foreground-color, 60%);
        font-size: 16pt;
        font-weight: 300;
        padding: 24px 0;
        text-align: center;

    }
    
    &__Button {
        
        background: none;
        border: none;
        box-sizing: border-box;
        color: $primary-color;
        cursor: pointer;
        display: flex;
        font-family: 'Teko', sans-serif;
        font-size: 26pt;
        padding: 0;
        margin: 0 24px 0 24px;
        outline: none;
    
        align-items: center;
        justify-content: flex-start;

        width: calc(100% - 48px);

        z-index: 2;

        svg {

            margin: 0 6px 4px 0;

        }
        
    }

}

@media screen and (min-width: 768px) {

    .Home {

        &__Button {
            
            right: 74px;

        }

    }

}