.Button {
    
    background-color: #ef9a9a;
    box-shadow: 9px 9px 16px rgba(163,177,198,0.6), 
                -9px -9px 16px  rgba(255,255,255, 0.5);
    border: 0;
    border-radius: 50%;
    color: #fff;
    box-sizing: border-box;
    display: flex;
    font-size: 14pt;
    font-weight: 300;
    margin: 0;
    padding: 12px 12px;
    position: fixed;
    transform: translate(-50%, -50%);

    align-items: center;
    justify-content: center;

    width: 64px;
    height: 64px;

    bottom: 24px;
    left: 50%;
    
}