@import '../../variables';

.Menu {

    background: $background-color;
    display: flex;
    flex-direction: column;
    position: fixed;
    transform: translateX(-100%);
    transition: transform .4s ease-in-out;
    
    align-items: center;
    justify-content: stretch;

    z-index: 46;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    ul {

        display: flex;
        flex-direction: column;
        list-style: none;
        margin: 0;
        padding: 0;

        align-items: center;
        justify-content: center;

        width: 100%;
        height: 100%;

        li {

            padding: 12px 0;

            a {

                color: #fff;
                font-size: 24pt;
                text-decoration: none;

            }

        }

    }

    &__lekkr {

        a {

            color: $primary-color !important;

        }

    }

    &__CloseButton {
        
        background: $background-color;
        border: 0;
        border-radius: 50%;
        box-sizing: border-box;
        color: $foreground-color;
        cursor: pointer;
        outline: none;
        padding: 0;
        position: absolute;
        transition: color.4s ease-in-out;

        width: 64px;
        height: 64px;

        top: 24px;
        left: 24px;

        &:focus {

            color: $primary-color;

        }

    }

    &__open {

        transform: translateX(0);

    }

}


@media screen and (min-width: 768px) {

    .Menu {

        border-right: 1px solid $primary-color;
        width: 400px;

        right: auto;
    
        
    }

}