@import '../../variables';

.Stores {

    color: $foreground-color;
    max-width: 600px;
    margin: 0 auto;

    &__EmptyMessage {

        color: darken($foreground-color, 60%);
        font-size: 16pt;
        font-weight: 300;
        padding: 24px 0;
        text-align: center;

    }

    &__List {

        display: flex;
        flex-direction: column;

    }

    &__Button {
        
        background: none;
        border: none;
        border-radius: 50%;
        box-sizing: border-box;
        color: var(--foreground-color);
        cursor: pointer;
        display: flex;
        font-family: 'Teko', sans-serif;
        font-size: 26pt;
        padding: 0;
        margin: 0 24px;
        outline: none;
    
        align-items: center;
        justify-content: flex-start;

        width: calc(100% - 48px);

        z-index: 2;

        svg {

            margin: 0 6px 4px 0;

        }
        
    }

}

@media screen and (min-width: 768px) {

    .Stores {

        &__CreateDialog {
    
            margin: 0 auto;
            padding: 24px;
    
            max-width: 400px;
    
        }

    }

}