@import '../../variables';

.StoreItem {

    background: none;
    border-radius: 16px;
    box-sizing: border-box;
    color: var(--foreground-color);
    display: flex;
    flex-wrap: nowrap;
    font-weight: 300;
    margin: 0 24px 12px;
    padding: 4px 0;

    align-items: center;

    &__Name {

        flex: 0 0 calc(100% - 48px);
        font-family: 'Teko', sans-serif;
        font-size: 26pt;
        font-weight: 400;
        line-height: 26pt;
        padding: 8px 0 0;

    }

    &__ColorTags {

        border-radius: 50%;
        display: flex;
        flex: 0 0 24px;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0;
        margin: 0 12px 0 0;

        align-items: center;
        justify-content: center;

    }

    &__DeleteButton {

        background: none;
        color: $foreground-color;
        border: 0;
        border-radius: 50%;
        box-sizing: border-box;
        cursor: pointer;
        display: flex;
        flex: 0 0 24px;
        margin: 0 0 0 24px;
        outline: none;
        padding: 0;
        transition: background .4s ease-in-out,
                    border .3s ease-in-out;

        align-items: center;
        justify-content: center;

        width: 24px;
        height: 24px;

        svg {

            color: var(--foreground-color);
            transition: opacity .3s ease-in-out;

        }

    }
    
}