@import '../../variables';

.ShoppingListItem {

    background: none;
    border-radius: 16px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    font-weight: 300;
    margin: 0 24px;
    padding: 12px 0;

    align-items: center;

    &__content {

        flex: 1 1 50%;

        a {
            
            display: flex;
            padding: 8px 0;
            text-decoration: none;

            align-items: center;
            
        }

        &__name {
    
            color: $primary-color;
            font-family: 'Teko', sans-serif;
            font-size: 26pt;
            font-weight: 400;
            line-height: 26pt;
            margin: 0;
    
        }

        &__numberOfItems {
    
            color: var(--foreground-color);
            display: flex;
            font-size: 9pt;
            font-weight: 600;
            line-height: 9pt;
            padding: 0 0 0 12px;

            align-items: center;

            svg {

                margin: 0 4px 0 0;
                width: 18px;
                height: 18px;

            }
    
        }

    }

    &__Button {

        background: none;
        border: 0;
        border-radius: 50%;
        box-sizing: border-box;
        color: var(--foreground-color);
        cursor: pointer;
        display: flex;
        outline: none;
        padding: 0;
        transition: background .4s ease-in-out;

        align-items: center;
        justify-content: center;

        width: 26px;
        height: 26px;
        
        &:active {

            background: #e4e4e4;

        }

    }

}